@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
}
body .cuadro{
    width: 80;
}

.cuadro{
    border: 2px yellow solid ;
    position: relative;
    bottom: 35px;
   
}

.row{
    display: flex;
    height: 100vh;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    
}
#enlaces{
    width:100%;
    background-color: black;   
    color: rgb(250, 244, 244);
    text-align: start;
    margin-top: 10px;
}
#enlaces button{
    width: 100%;
    
}
.enlaces{
    width: 60%;
    background-color:black;
    margin-bottom: 200px;
}






#filaAgregarFoto{
    border: 5px solid black;
    height: 15%;
    justify-content: space-between;
    
}
#filaPrincipal{
    width: 100%;
    height: 100%;
}

#BotonAgregarFoto{
    width: 145px;
    height: 40px;
    background-color:rgba(0, 0, 0, 0.565);
    color: white;
    margin-left: 20px;
    margin-top: 35px;
}
.contenedorFotosProductos{
    border: 1px solid black;
}

.cartasProductos{
    width: 250px;
    height: 280px;
    box-shadow: 10px 10px 0px gray;
    margin-top: 50px;
    

}


